/* ======================
Table of contents
=========================

1. left-section design

2. right-section design



*/

section.hero{
    margin-top: 3rem;
}

/*---------------------------
1.left-section design
-----------------------------*/

section.hero .left-section{
    flex-grow: 1;

}

section.hero .parent-avatar{
        align-items: end;
        gap: 0.6rem;
        min-height: 88px;
}   

section.hero .avatar{
    width: 88px;
    border: 1px solid darkorange;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 2px 2px 40px gray inset;
}

section.hero .icon-verified{
    color: var(--blue);
    font-size: 1.1rem;
    margin-bottom: 1.3rem;
}





section.hero h1.title{
    font-size: 2.85rem;
    line-height: 3.3rem;
    margin: 24px 0;
    color: var(--title);
}

section.hero p.subTitle{
color: var(--subtitle);
font-size: 0.9rem;
line-height: 1.65rem;
margin-bottom: 32px;
}
section.hero .icons{
font-size: 1.3rem;
gap: 1.5rem;
color: var(--subtitle);
}

section.hero .icons .icon{
    transition: 0.3s;
}

section.hero .icons .icon:hover{
font-size: 1.4rem;
cursor: pointer;
color: var(--iconHover);
}



/*-------------------------------------
2.right-section====> animation  design
--------------------------------------*/


